$black: #1b1719;
$grey: #393d3a;
$grey-light: #b0b1b0;

$green-dark: #3f5843;
$green: #526956;
$green-light: #c5cdc7;
$sand-dark: #b69b7d;
$sand: #ccb9a4;
$sand-light: #e9e1d83e;
$white: #d4d6d5;

//HEADER
$header-buttons-hover: $grey-light;
