@import "../../../../styles.scss";
.today {
  background-color: $sand-light;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  div {
    margin: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
  }
}
.tasks {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.tasks-container {
  display: flex;
  flex-direction: column;
}
.tasks-container--selected {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon-fill {
  fill: $grey;
}
