<div class="today">
  <h2>Heute</h2>
  <div class="tasks">
    <div class="tasks-duration">
      <p>3</p>
      <p>45</p>
      <p>Voraussichtliche Zeit</p>
    </div>
    <div class="tasks-quantity">
      <p>2</p>
      <p>Aufgaben zu erledigen</p>
    </div>
    <div class="tasks-past-time">
      <p>25</p>
      <p>Vergangene Zeit</p>
    </div>
  </div>
  <app-new-task></app-new-task>
  <div class="tasks-container" #container>
    <app-task-list
      [pagedTasks]="pagedTasks"
      [container]="container"
    ></app-task-list>
  </div>
  <mat-paginator
    #paginator
    [length]="tasksObject.length"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10]"
    (page)="handlePageChange($event, paginator.pageSize)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
