@import "../../../../styles.scss";
.today {
  background-color: $sand-light;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  div {
    margin: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
  }
}
.tasks {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.new-task {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  background-color: #fff;

  .input {
    width: 50%;
  }

  .datepicker-form {
    width: 20%;
  }
}

.red-icon {
  color: red;
}
.tasks-list-element {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #fff;
}
.tasks-container {
  display: flex;
  flex-direction: column;
}
.tasks-container--selected {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.task-description {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  & .task-name {
    display: flex;
    flex-direction: row;
  }
}
.icon-fill {
  fill: $grey;
}
